<!DOCTYPE html>
<html>
  <head>
    <title>ScheduleBee</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arimo|Biryani|Droid+Sans|Heebo|Mada|Oxygen|Poppins|Prompt|Questrial" rel="stylesheet">
    <%= favicon_link_tag %>
  <% if Rails.env.development? %>
  <script src="http://localhost:3808/webpack-dev-server.js"></script>
<% end %>
  <meta name="viewport" content="width=device-width, initial-scale=0.75"/>
</head>

  <body>
    <%= yield %>
  <%= javascript_include_tag *webpack_asset_paths('application') %>
</body>
</html>
